<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form">
  <div class="row">

    <!--Id hidden -->
    <input type="hidden" formControlName="id">
    <!-- type -- Product or Service -- select -->
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-select" id="type" formControlName="type"
          [class.is-invalid]="productForm.get('type')?.invalid && productForm.get('type')?.touched">
          <option value="" selected>Select Type</option>
          <option value="Product">Product</option>
          <option value="Service">Service</option>
        </select>
        <!--error-->
        <div *ngIf="productForm.get('type')?.hasError('required') && productForm.get('type')?.touched"
          class="text-danger">
          Type is required
          <br>
        </div>
      </div>

    </div>

    <!-- name -->
    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name"
          [class.is-invalid]="productForm.get('name')?.invalid && productForm.get('name')?.touched">
        <!--error-->
        <div *ngIf="productForm.get('name')?.hasError('required') && productForm.get('name')?.touched"
          class="text-danger">
          Name is required
          <br>
        </div>
      </div>
    </div>

    <!-- category -- Construction Materials, Electrical, Plumbing, etc. -- select -->
    <div class=" col-12 col-md-6 col-xl-4 mb-3">
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-select" id="category" formControlName="category"
          [class.is-invalid]="productForm.get('category')?.invalid && productForm.get('category')?.touched">
          <option value="Construction Materials">Construction Materials</option>
          <option value="Electrical">Electrical</option>
          <option value="Plumbing">Plumbing</option>
          <option value="Paints">Paints</option>
          <option value="Hardware">Hardware</option>
          <option value="Tools">Tools</option>
          <option value="Others">Others</option>
        </select>
        <!--error-->
        <div *ngIf="productForm.get('category')?.hasError('required') && productForm.get('category')?.touched"
          class="text-danger">
          Category is required
          <br>
        </div>
      </div>

    </div>

    <!-- description -->
    <div class="col-12 mb-3">
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" formControlName="description" placeholder="Description"
          [class.is-invalid]="productForm.get('description')?.invalid && productForm.get('description')?.touched"></textarea>
        <!--error-->
        <div *ngIf="productForm.get('description')?.hasError('required') && productForm.get('description')?.touched"
          class="text-danger">
          Description is required
          <br>
        </div>
      </div>

    </div>

    <!-- unit -->
    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <div class="form-group">
        <label for="unit">Unit</label>
        <input type="text" class="form-control" id="unit" formControlName="unit" placeholder="Ex. Piece, Box, etc."
          [class.is-invalid]="productForm.get('unit')?.invalid && productForm.get('unit')?.touched">
        <!--error-->
        <div *ngIf="productForm.get('unit')?.hasError('required') && productForm.get('unit')?.touched"
          class="text-danger">
          Unit is required
          <br>
        </div>
      </div>
    </div>

    <!-- price -->
    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" formControlName="price" placeholder="Price"
          [class.is-invalid]="productForm.get('price')?.invalid && productForm.get('price')?.touched">
        <!--error-->
        <div *ngIf="productForm.get('price')?.hasError('required') && productForm.get('price')?.touched"
          class="text-danger">
          Price is required
          <br>
        </div>
      </div>
    </div>

    <!-- quantity -->
    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <div class="form-group">
        <label for="stock_quantity">Quantity</label>
        <input type="number" class="form-control" id="stock_quantity" formControlName="stock_quantity"
          placeholder="Quantity"
          [class.is-invalid]="productForm.get('stock_quantity')?.invalid && productForm.get('stock_quantity')?.touched">
        <!--error-->
        <div
          *ngIf="productForm.get('stock_quantity')?.hasError('required') && productForm.get('stock_quantity')?.touched"
          class="text-danger">
          Quantity is required
          <br>
        </div>
      </div>
    </div>

    <!-- provider -->
    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <div class="form-group">
        <label for="provider">Provider</label>
        <input type="text" class="form-control" id="provider" formControlName="provider" placeholder="Provider"
          [class.is-invalid]="productForm.get('provider')?.invalid && productForm.get('provider')?.touched">
        <!--error-->
        <div *ngIf="productForm.get('provider')?.hasError('required') && productForm.get('provider')?.touched"
          class="text-danger">
          Provider is required
          <br>
        </div>
      </div>
    </div>

    <!-- specifications -->
    <div formArrayName="specifications" class="mb-3">
      <div *ngFor="let specification of specifications.controls; let i = index" [formGroupName]="i" class="row">
        <div class="col-5">
          <label for="specName{{i}}">Specification Name</label>
          <input type="text" class="form-control" id="specName{{i}}" formControlName="name"
            placeholder="Specification Name"
            [class.is-invalid]="specification.get('name')?.invalid && specification.get('name')?.touched">
          <!--error-->
          <div *ngIf="specification.get('name')?.hasError('required') && specification.get('name')?.touched"
            class="text-danger">
            Specification Name is required
            <br>
          </div>
        </div>
        <div class="col-5">
          <label for="specValue{{i}}">Specification Value</label>
          <input type="text" class="form-control" id="specValue{{i}}" formControlName="value"
            placeholder="Specification Value"
            [class.is-invalid]="specification.get('value')?.invalid && specification.get('value')?.touched">
          <!--error-->
          <div *ngIf="specification.get('value')?.hasError('required') && specification.get('value')?.touched"
            class="text-danger">
            Specification Value is required
            <br>
          </div>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-danger mt-4" (click)="removeSpecification(i)">Remove</button>
        </div>
      </div>

      <button type="button" class="btn btn-primary mt-3" (click)="addSpecification()">Add Specification</button>
    </div>

    <!-- attachments -->
    <div formArrayName="attachments" class="mb-3">
      <div *ngFor="let attachment of attachments.controls; let i = index" [formGroupName]="i" class="row">
        <div class="col-5">
          <label for="attachmentName{{i}}">Attachment Name</label>
          <input type="text" class="form-control" id="attachmentName{{i}}" formControlName="name"
            placeholder="Attachment Name"
            [class.is-invalid]="attachment.get('name')?.invalid && attachment.get('name')?.touched">
          <!--error-->
          <div *ngIf="attachment.get('name')?.hasError('required') && attachment.get('name')?.touched"
            class="text-danger">
            Attachment Name is required
            <br>
          </div>
        </div>
        <div class="col-5">
          <label for="attachmentFile{{i}}">Attachment File</label>
          <input type="file" class="form-control" id="attachmentFile{{i}}" (change)="handleAttachmentFile($event, i)"
            accept="image/*" formControlName="file"
            [class.is-invalid]="attachment.get('file')?.invalid && attachment.get('file')?.touched">
          <!--error-->
          <div *ngIf="attachment.get('file')?.hasError('required') && attachment.get('file')?.touched"
            class="text-danger">
            Attachment File is required
            <br>
          </div>

        </div>
        <div class="col-2">
          <button type="button" class="btn btn-danger mt-4" (click)="removeAttachment(i)">Remove</button>
        </div>
      </div>

      <button type="button" class="btn btn-primary mt-3" (click)="addAttachment()">Add Attachment</button>

    </div>


    <div class="col-12">
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</form>